<div class="about">
  <div class="about-visual-content">
    <p class="about-visual-text">
      Here you can share<br>
      your impressions of <br>
      the spots you visited
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="about-image scrollanime"><%= image_tag 'about2.jpg' %></div>
    <div class="about-text scrollanime">
      <strong>
        Feel free to post <br>
        your impressions of the trip.
      </strong><br><br>
      あなたの訪れたスポットを自由に投稿し、<br>
      多くの人と共有しましょう!
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="about-text scrollanime">
      <strong>Let's "favorite".</strong><br><br>
      共感したものには「いいね」ができます
    </div>
    <div class="about-image scrollanime"><%= image_tag 'about3.jpg' %></div>
  </div>
  <div class="d-flex  justify-content-center">
    <div class="about-image scrollanime"><%= image_tag 'about4.jpg' %></div>
    <div class="about-text scrollanime">
      <strong>Let's "follow".</strong><br><br>
      気になるユーザーはフォローすることができます
    </div>
  </div>
  <div class="d-md-flex justify-content-center">
    <div class="about-form">
      <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-dark' %>
    </div>
    <div class="about-form">
      <%= link_to "Log in", new_user_session_path, class: 'nav-link text-dark' %>
    </div>
  </div>
  <body>
      <%= yield %>
      <span id="back">
        <a href="">
          <%= image_tag asset_path('arrow.png'), data: {"turbolinks"=>false}, class: "arrow" %>
        </a>
      </span>
    </body>
</div>